/*  
Theme Name: Quadruple Blue
Theme URI:
Description: Quadruple Blue Wordpress theme created by Small Potato for WordPress 2.0 series.
Version: 1.0
Author: Small Potato
Author URI: 

	Released under GPL.

*/

body, h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, hr, p, form{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, Georgia, sans-serif;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
	background: #9ab6ca;
	color: #000;
}

h1, h2, h3, h4, h5, h6{
	font-family: Georgia, sans-serif;
	font-size: 18px;
	font-weight: normal;
}

a{
	text-decoration: underline;
	color: #d26302;
}

a:hover{ text-decoration: none; }

a img{ border: 0; }

abbr, acronym{ border: 0; }

address, dl, p{ padding: 15px 0 0; }

blockquote{
	margin: 15px 0 0;
	background: #eaf6fe;
}

blockquote p{ padding: 15px; }

blockquote blockquote{
	margin: 15px;
	background: #fff;
}

code{
	background: #f9f9f9;
}

dt{ font-weight: bold; }

dd{ padding: 0 0 0 15px; }

hr{
	clear: both;
	margin: 15px 15px 5px 15px;
	border: 0;
	height: 1px;
	text-align: left;
	background: #daf0fe;
	color: #daf0fe;
}

small{
	font-size: 11px;
}

pre{
	width: 90%;
}

input, textarea{
	font-family: Arial, Helvetica, Georgia, sans-serif;
	font-size: 12px;
	padding: 2px;
}

input#s, input#author, input#email, input#url, textarea#comment{
	border: 1px solid #003053;
	background-color: #fff;
	padding: 3px;
}

input#author, input#email, input#url{
	margin: 0 5px 0 0;
}



#container{
	width: 988px;
	margin: 0 auto;
	padding: 5px 0 0;
	text-align: left;
	vertical-align: top;
}

#page{
	width: 988px;
	float: left;
	background: #003053 url(images/bg_page.jpg) no-repeat;
	color: #fff;
}

#header{
	width: 988px;
	float: left;
	clear: both;
}

#header h1{
	padding: 25px 30px 25px; 
	font-size: 36px;
	text-transform: uppercase;
	color: #b6e1fe;
}

#header a{
	color: #b6e1fe;
}

#left_sidebar, .right_sidebar_col{
	width: 160px;
	margin: 0 10px;
	float: left;
	display: inline;
}

#left_sidebar a{
	color: #c2ddef;
}

#left_sidebar ul, .right_sidebar_col ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#left_sidebar li#search input, .right_sidebar_col li#search input{
	margin: 0 0 5px;
}

#left_sidebar li.widget_calendar h2, .right_sidebar_col li.widget_calendar h2{
	background-image: none;
}

#left_sidebar ul li, .right_sidebar_col ul li{
	margin: 0 0 10px;
}

#left_sidebar ul li h2, .right_sidebar_col ul li h2{
	padding: 8px 10px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	background: url(images/bg_ul_li_h2.gif) no-repeat;
	color: #fa9944;
}

#left_sidebar ul ul, .right_sidebar_col ul ul{
	padding: 10px;
	background: url(images/bg_ul_ul.gif) no-repeat;
}

#left_sidebar ul ul li, .right_sidebar_col ul ul li{
	margin: 0;
	line-height: 24px;
}

#left_sidebar ul ul li h2, .right_sidebar_col ul ul li h2{
	padding: 0;
	text-transform: none;
	background-image: none;
}

#left_sidebar ul ul ul, .right_sidebar_col ul ul ul{
	padding: 0;
	background-image: none;
}

#left_sidebar ul ul ul li, .right_sidebar_col ul ul ul li{
	padding: 0 0 0 10px;
}

.right_sidebar_container_bottom{
	with: 350px;
	margin: 10px 0 0;
	float: left;
	background: #c2ddef url(images/bg_right_sidebar_container_bottom.gif) no-repeat bottom left;
}

.right_sidebar_container_top{
	width: 350px;
	float: left;
	padding: 0 0 10px;
	background: url(images/bg_right_sidebar_container_top.gif) no-repeat;
}

.right_sidebar_col{
	margin: 0 0 0 10px;
}

.right_sidebar_col a{
	color: #001f35;
}

.right_sidebar_col ul li#search input#s{
	border: 1px solid #c2ddef;
}

.right_sidebar_col ul li{
	margin: 10px 0 0;
}

.right_sidebar_col ul li h2{
	background: url(images/bg_ul_li_h2_2.gif) no-repeat;
	color: #a44d01;
}

.right_sidebar_col ul ul{
	background: url(images/bg_ul_ul_2.gif) no-repeat;
}

.wide_column_bottom, .wide_column_top{
	width: 808px;
	float: left;
	padding: 0 0 10px;
	background:#fff url(images/bg_wide_column_bottom.gif) no-repeat bottom left;
	color: #000;
}

.wide_column_top{
	padding: 0;
	background: url(images/bg_wide_column_top.gif) no-repeat;
}

.narrow_column{
	width: 438px;
	margin: 0 10px;
	float: left;
	display: inline;
}

.post, .post_alt{
	margin: 10px 0 0;
	padding: 15px;
	background: url(images/bg_post.gif) no-repeat;
}

.post_alt{
	background: url(images/bg_post_alt.gif) no-repeat;
}

.post h2 a, .post_alt h2 a{
	color: #a44d01;
}

.postdate{
	padding: 8px 0px;
	font-size: 11px;
	background: url(images/bg_dotted.gif) repeat-x bottom left;
	color: #ba9575;
}

.entry{
	line-height: 18px;
}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6{
	padding: 15px 0 0;
}

.entry h1{
	font-size: 24px;
	line-height: 30px;
}

.entry h2{
	line-height: 24px;
}

.entry h3{
	font-size: 16px;
}

.entry h4{
	font-size: 14px;
	font-weight: bold;
}

.entry h5, .entry h6{
	font-size: 12px;
}

.entry h3, .entry h4, .entry h5{
	font-weight: bold;
}

.entry img{
	border: 1px solid #daf0fe;
	padding: 4px;
}

.entry img.wp-smiley{
	border: 0;
	padding: 0;
}

.entry img.alignleft{
	float: left;
	margin: 5px 10px 0 0;
}

.entry img.alignright{
	float: right;
	margin: 5px 0 0 10px;
}

.entry p.postinfo{
	margin: 15px 0 0;
	background: url(images/bg_dotted.gif) repeat-x top left;
}

.browse{
	padding: 0 15px;
	font-family: Geogria, Sans-Serif;
	font-size: 14px;
	line-height: 24px;
}

.browse a{
	font-weight: bold;
}



/* comments template */

.comments-template{
	padding: 15px 0 0;
	background: url(images/bg-dotted.gif) repeat-x;
}

.comments-template ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

.comments-template ol li{
	margin: 15px 0 0;
	padding: 0 0 20px;
	background: url(images/bg_dotted.gif) repeat-x bottom left;
}

.commentmetadata{
	font-style: italic;
}

.comments-template p.nocomments{
	padding: 0;
}

/* end comments template */


/* wp-calendar */

table#wp-calendar{
	width: 100%;
	font-family: Arial, Helvetica, Georgia, sans-serif;
	text-transform: none;
	line-height: 18px;
}

table#wp-calendar caption{
	padding: 10px 15px;
}

table#wp-calendar th{
	text-align: center;
	vertical-align: top;
}

table#wp-calendar td{
	text-align: right;
}

table#wp-calendar tfoot td{
	text-align: center;
}

/* end calendar */


#footer{
	width: 988px;
	margin: 0 0 10px;
	float: left;
	background: #003053 url(images/bg_footer.gif) no-repeat bottom left;
	color: #fff;
}

#footer p{
	padding: 20px;
	line-height: 18px;
}