/* 
	Theme Name: Redbook
	Description: Redbook is a modern 3-column Widget-ready theme created for WordPress.
	Author: Brian Gardner
	Version: 1.0
	
	The CSS, XHTML and design is released under GPL:
	
	Changelog:
		v1.0 - 07.23.07
		First Release of Redbook
*/

body {
	background: #666666 url(images/headerbg.gif) repeat-x;
	color: #000000;
	font-size: 12px;
	font-family: Verdana, Arial, Tahoma;
	margin: 0px auto 0px;
	padding: 0px;
	}
	
#wrap {
	width: 1000px;
	background: #666666 url(images/bg.gif) repeat-y top center;
	margin: 0px auto 0px;
	padding: 0px
	}

/************************************************
*	Hyperlinks									*
************************************************/

a, a:visited {
	color: #BE0C0C;
	text-decoration: none;
	}
	
a:hover {
	text-decoration: underline;
	}
	
/************************************************
*	Header  									*
************************************************/

#header {
	background: #FFFFFF url(images/header.gif);
	width: 1000px;
	height: 140px;
	font-size: 18px;
	color: #333333;
	margin: 0px auto 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden
	}
	
#header p {
	padding: 10px 0px 0px 40px;
	margin: 0px;
	}
	
#header a {
	font-family: Times New Roman, Helvetica, Sans-Serif;
	font-size: 48px;
	color: #333333;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	}

#header a:hover{
	color: #333333;
	}
	
/************************************************
*	Content 					     		    * 
************************************************/

#content {
	width: 960px;
	margin: 0px auto 0px;
	padding: 0px 0px 0px 0px;
	line-height: 18px;
	}

#content p {
	padding: 0px 0px 15px 0px;
	margin: 0px;
	}
	
#content h1 {
	color: #000000;
	font-size: 24px;
	font-family: Georgia, Helvetica, Sans-Serif;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	border-top: 5px solid #000000;
	}
	
#content h1 a, #content h1 a:visited  {
	color: #000000;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	}

#content h1 a:hover {
	color: #BE0C0C;
	text-decoration: none;
	}
	
#content h4 {
	color: #000000;
	font-size: 20px;
	font-family: Georgia, Helvetica, Sans-Serif;
	font-weight: normal;
	margin: 20px 0px 0px 0px;
	padding: 2px 0px 20px 0px;
	border-top: 5px solid #202020;
	}
	
#content p img{
	float: left;
	border: none;
	margin: 0px 0px 10px 0px;
	}
	
#content img.wp-smiley {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}

#content img.wp-wink {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}
	
#contentleft {
	float: left;
	width: 440px;
	margin: 0px 0px 0px 20px;
	padding: 20px 0px 10px 0px;
	display: inline;
	}
	
#contentleft ol{
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 15px 0px;
	}
	
#contentleft ol li{
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
	
#contentleft ul{
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 15px 0px;
	}
	
#contentleft ul li{
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
	
blockquote{
	background: #EFEFEF;
	margin: 0px 25px 15px 25px;
	padding: 10px 20px 10px 20px;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #666666;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #666666;
	}
	
#content blockquote p{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}
	
.postmeta {
	background: #FFFFFF url(images/postmeta.gif);
	width: 382px;
	margin: 0px; 
	padding: 0px 0px 10px 18px;
	}

/************************************************
*	Left Sidebar 		         			     * 
************************************************/

#l_sidebar {
	float: left;
	width: 200px;
	margin: 0px 0px 0px 0px;
	padding: 20px 20px 20px 20px;
	display: inline;
	}
	
#l_sidebar h2 {
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 3px 0px;
	border-top: 5px solid #999999;
	}
	
#l_sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 20px 0px;
	}

#l_sidebar ul li {
	padding: 0px;
	margin: 0px;
	}
	
#l_sidebar ul li a, #l_sidebar ul li a:visited {
	color: #000000;
	text-decoration: none;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	}

#l_sidebar ul li a:hover {
	color: #BE0C0C;
	text-decoration: underline;
	}
/************************************************
*	Right Sidebar 		         			     * 
************************************************/

#r_sidebar {
	float: right;
	width: 200px;
	margin: 0px;
	padding: 20px 20px 20px 0px;
	line-height: 17px;
	display: inline;
	}
	
#r_sidebar h2 {
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 3px 0px;
	border-top: 5px solid #999999;
	}
	
#r_sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 30px 0px;
	}

#r_sidebar ul li {
	padding: 0px;
	margin: 0px;
	}
	
#r_sidebar ul li a, #r_sidebar ul li a:visited {
	color: #000000;
	text-decoration: none;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	}

#r_sidebar ul li a:hover {
	color: #BE0C0C;
	text-decoration: underline;
	}
	
/************************************************
*	Footer  									*
************************************************/

#footer {
	background: #202020 url(images/footer.gif) no-repeat top;
	width: 1000px;
	height: 70px;
	font-size: 12px;
	margin: 0px auto 0px;
	text-align: center;
	line-height: 17px;
	clear: both; 
	padding: 20px 0px 10px 0px;
	}
	
#footer p {
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;	
	}
	
#footer a, #footer a:visited {
	color: #FFFFFF;
	text-decoration: none;
	}
	
#footer a:hover {
	text-decoration: underline;
	}

/************************************************
*	Search Form									*
************************************************/

#searchdiv {
	margin: 0px;
	padding: 0px;
	}
	
#searchform {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	display: inline;
	}
	
#s {
	background: #FFFFFF;
	width: 170px;
	color: #333333;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11px;
	padding: 5px;
	margin: 0px 5px 20px 10px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}

#name, #email, #url, #submit {
	background: #FFFFFF;
	color: #333333;
	font-size: 12px;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}
	
#words {
	background: #FFFFFF;
	width: 400px;
	color: #333333;
	font-size: 12px;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}
	
#sbutt {
	background: #666666;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	padding: 2px;
	margin: 0px;
	border-top: 1px solid #AAAAAA;
	border-right: 1px solid #454545;
	border-left: 1px solid #AAAAAA;
	border-bottom: 1px solid #454545;
	}
	
/************************************************
*	Comments									*
************************************************/
	
#commentblock {
	width: 400px;
	color: #000000;
	float: left;
	padding: 20px 20px 10px 10px;
	margin: 10px 0px 0px 0px;
	}
	
#commentblock ol{
	list-style-type: square;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	}
	
.commentdate {
	font-size: 12px;
	padding-left: 0px;
	}
	
#commentlist li p{
	margin-bottom: 8px;
	line-height: 20px;
	padding: 0px;
	}

.commentname {
	color: #333333;
	margin: 0px;
	padding: 5px 5px 5px 0px;
	}

.commentinfo{
	clear: both;
	}

.commenttext, .commenttext-admin {
	background: #EFEFEF;
	width: 360px;
	color: #000000;
	font-size: 12px;
	padding: 5px 10px 0px 10px;
	margin: 5px 0px 30px 0px;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #666666;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #666666;
	}

#commentsformheader{
	padding-left: 0px;
	}

#commentsform{
	text-align: center;
	margin: 0px;
	padding: 0px;
	}

#commentsform form{
	text-align: left;
	margin: 0px;
	}

#commentsform p{
	margin: 0px;
	}

#commentsform form textarea{
	width: 99%;
	}
	
p.comments_link  img{
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	}