/*ZenLite 
Author:Mel P.
http://quirm.net/
*/

body {
	color:#606060;
}
blockquote {
	background:url(images/quotes.png) no-repeat left top;
}
acronym, abbr {
	border-bottom:1px dashed #ddd;
}
ins {
	background-color:#f3f3fb;
	color:#606060;
}
pre {
	background: url(images/paper.png);
	color:#606060;
	border:1px solid #f3f3fb;
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}
fieldset {
	background:#dee2e9;
}
fieldset fieldset {
	background:#f3f3fb;
}
legend {
	background:#B1B4BE;
	color:#000;
}
input, textarea {
	background:#F0F3F5;
	color:#404040;
	border:1px solid #ddd;
}
input:focus,
input.focus,
textarea:focus,
textarea.focus {
	background:#fff;
	color:#606060;
	border-color:#407096;
}
input.submit,
input.button,
input[type=submit] {
	background:#505050;
	color:#fff;
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}
input.checkbox {
	border:none;
}
table,th,td {
	border:1px solid #C6CCD4;
}
th {
	background:#dee2e9;
}
tr {
	background:#fff;
	color:#606060;
}
tr.alt {
	background:#f3f3fb;
}
a {
	 color:#407096;
}
a:visited {
	color:#5F487E;
}
a:hover {
	 color:#407096;
}
a:active,
a:focus {
	background-color:#f93;
	color:#000;
}
a img {
	border:1px solid #fff;
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}
a:hover img,
a:active img,
a:focus img {
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}
a:hover img {
	border-color:#f8f8f8;
}
a:active img, 
a:focus img {
	border-color:#f93;
}

/* WRAPPER */
#wrapper {
	background:#fff;
	color:#606060;
}
.jumplinks a:active,.jumplinks a:focus {
	background:#f93;
	color:#000;
}

/* HEADER */
#header h1,
#header h1 a {
	color:#606060;
}
#header {
	border-bottom:3px double #aaa;
}
#header h1 a:hover {
	 color:#407096;
}
#header h1 a:focus,
#header h1 a:active {
	background-color:#f93;
	color:#000;
}
#header h1 small {
	color:#707070;
}

/* MENU */
.navbar {
	border-top:3px double #aaa;
	border-bottom:3px double #aaa;
}
.navbar ul ul,
.navbar ul li:hover,
.navbar ul a:hover {
	background:#dee2e9;
	color:#606060;
}
.navbar ul li.widget_tag_cloud:hover,
.navbar .widget_tag_cloud a:hover {
	background:transparent;
}
.navbar ul ul {
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}
.navbar ul a {
	color:#606060;
}
.navbar .current_page_item > a,
.navbar .current-cat > a,
.navbar .current-menu-item > a {
	background:#505050;
	color:#fff;
}
.navbar ul ul a:hover {
	background:#eaeef1;
	color:#606060;
}
.navbar a:active,
.navbar a:focus {
	background:#f93;
	color:#404040;
}

/* CONTENT */
#content {
	 background:#fff;
	 color:#606060;
}
#content .hentry,
.search-results #content .hentry .hentry {
	border-bottom:3px double #aaa;
}
.single #content .hentry,
.page #content .hentry {
	border-bottom:none;
}
.sticky .post-title a {
	background:url(images/star.png) no-repeat right center;
}
.single {
	border:none;
}
#content ul li {
	list-style-image:url(images/bullet.jpg);
}
#content ul li ul li {
	list-style-image:url(images/bullet2.jpg);
}
#content ul li ul li ul li {
	list-style-image:none;
}
#content .prevnext li,
#content .meta li {
	list-style-image:none;
	list-style:none;
}

/* no bullets */
#content #commentlist li,
#content .comment-links li,
#content .result-list li,
#content .pagetree ul li,
#content .widget-area {
	list-style-image:none;
	list-style:none;
}

/* Post Formats */
.format-audio a img,
.format-gallery a img,
.format-image a img,
.format-status a img {
	border:none;
	-moz-box-shadow:0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow:0 0 0 rgba(0,0,0,0);
	-box-shadow:0 0 0 rgba(0,0,0,0);
}	
.single .format-audio {
	background:url(images/audio.png) no-repeat right top;
}
.format-link .post-title a {
	background:url(images/link.png) no-repeat right top;
}
.format-video .more-link a {
	background:url(images/video.png) no-repeat right top;
}
.format-quote .postcontent {
	background:#f8fafd url(images/quotes.png) no-repeat left top;
	border:4px solid #f8fafd;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}
.format-quote .postcontent .inner {
	background:url(images/quotes2.png) no-repeat right bottom;
}
.format-quote .postcontent blockquote {
	background-image:none;
}
.format-chat .postcontent {
	background:url(images/paper.png);
	border:1px solid #f3f3fb;
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}
.single .format-image img {
	border:10px solid #f3f3fb;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.single .format-image a:hover img {
	border-color:#dee2e9;
}
.single .format-image a:active img,
.single .format-image a:focus img {
	border-color:#f93;
}
.format-gallery .more-link img,
.format-image .more-link img {
	border-width:5px;
}

/* pagination */
.prevnext .next a,
.prevnext .prev a {
	background-repeat:no-repeat;
}
.prevnext .next a {
	background-image:url(images/left.png);
	background-position:left center;
}
.prevnext .prev a {
	background-image:url(images/right.png);
	background-position:right center;
}
.page-numbers a,
.pagelist a {
	background-color:#f3f3fb;
	border:1px solid #dee2e9;
}
.page-numbers a:hover,
.pagelist a:hover {
	background-color:#505050;
	color:#fff;
	border-color:#505050;
}
.page-numbers a:active,
.page-numbers a:focus,
.pagelist a:active,
.pagelist a:focus {
	background-color:#f93;
	color:#000;
	border-color:#f93;
}

/* page tree */
.pagetree {
	background-color:#f8fafd;
	border:1px solid #f0f4fb;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}

/* COMMENTS */
#comments {
	border-top:3px double #aaa;
}
#commentlist .even {
	background-color:#f3f3fb;
}
#commentlist .odd {
	background:#fff;
}
#commentlist .even,
#commentlist .odd {
	border:1px solid #dee2e9;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.1);
	-box-shadow:2px 2px 2px rgba(0,0,0,0.1);
}
#commentlist .bypostauthor > .comment-body cite {
	background:url(images/author-comment.png) no-repeat;
}
#commentlist .comment-author-admin > .comment-body cite {
	background:url(images/admin-comment.png) no-repeat;
}
#commentlist blockquote {
	background:transparent;
}
#commentlist .comment-author + em {
	color:#900;
}

/* gallery & captions */
.wp-caption img,
#content .gallery img {
	border:10px solid #f3f3fb;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.wp-caption a:hover img,
#content .gallery a:hover img {
	border-color:#dee2e9;
}
.wp-caption a:active img,
.wp-caption a:focus img,
#content .gallery a:active img,
#content .gallery a:focus img {
	border-color:#f93;
}

/* wp-calendar */	
#wp-calendar tbody td a {
	background:#E9ECF1;
}
#wp-calendar td a:hover {
	background:#407096;
	 color:#fff;
}
#wp-calendar tbody td a:active,
#wp-calendar tbody td a:focus {
	background:#f93;
	color:#000;
}
#wp-calendar #today,
#wp-calendar #today a {
	background:#F5E6F5;
}