/* ZenLite */

/* LAYOUT */
html .mceContentBody {
	max-width:640px;
}
* {
	font-family:Tahoma, Verdana,Arial, Helvetica, sans-serif;
	line-height:1.5em;
}
h1 {
	font-size:2.5em;
	letter-spacing:0.2em;
}
h2 {
	font-size:1.6em;
}
h3 {
	font-size:1.4em;
} 
h4 {
	font-size:1.2em;
}
h5,h6 {
	font-size:1em;
}
h2,h3,h4,h5,h6 {
	letter-spacing:.01em;
}
h1,h2,h3,h4 {
	font-weight:normal;
}
a {
	text-decoration:underline;
}
a:hover,a:active,a:focus {
	text-decoration:none;
}
img {
	border:none;
}
dt {
	font-weight:bold;
	margin-top:10px;
}
li {
	margin-bottom:10px;
}
ol li {
	list-style-type:decimal;
}
ol li ol li {
	list-style-type: lower-alpha;
}
ol li ol li ol li {
	list-style-type:lower-roman;
}
ul li {
	list-style-type:disc;
}
ul li ul li {
	list-style-type:circle;
}
ul li ul li ul li {
	list-style-type: square;
}
small {
	font-size:.8em;
}
acronym, abbr {
	cursor:help;
	letter-spacing:.01em;
	text-decoration:none;
}
a acronym,a abbr {
	text-decoration:none;
	border-bottom:none;
}
blockquote {
	min-height:60px;
	margin:-5px 0 0;
	padding:5px 0 0 60px;
}
blockquote cite {
	display:block;
	padding-bottom:15px;
	font-size:.86em;
	font-style:normal;
}
q {
    font-style:italic;
}
q:before, q:after {
    content:"";
}
ins {
	padding:0 2px;
	text-decoration:none;
}
pre,
code,
tt,
kbd,
var {
	font-family:'courier new',courier, monospace;
	font-size:1.05em;
}
pre {
	overflow:auto;
	white-space:pre;
	padding:3px 5px;
	line-height:20px;
}
address {
	font-style:normal;
}
table {
	border-collapse:collapse;
}
th,td {
	padding:3px;
}

/* gallery */
.gallery {
	margin:20px auto;
	padding:0;
}
.gallery .gallery-icon {
	font-weight:normal;
	margin:0;
	padding:0;
}
.gallery .gallery-item {
	float:left;
	margin:0 0 20px;
	padding:0;
	text-align:center;
	width:33%;
}
#content .gallery .gallery img {
	float:none;
	margin:0;
	padding:0;
}
.gallery .gallery-caption {
	margin:0;
	padding:0;
	text-align:center;
	font-size:.9em;
	line-height:1.2em;
}

/* images */
.alignleft {
	float:left;
}
.alignright {
	float:right;
}
.aligncenter {
	float:none;
	display:block;
}
.alignnone {
	float:none;
}
.alignleft,
img.alignleft {
	margin:0 20px 20px 0;
}
.alignright,
img.alignright {
	margin:0 0 20px 20px;
}
.aligncenter,
img.aligncenter {
	margin:10px auto;
}

/* captions */
.wp-caption img {
	margin:0 auto;
	padding:0;
}
.wp-caption-text {
	margin:0;
	padding:0;
	text-align:center;
	font-size:.8em;
}

/* COLOURS */	
* {
	color:#606060;
}
blockquote {
	background:url(images/quotes.png) no-repeat left top;
}
acronym, abbr {
	border-bottom:1px dashed #ddd;
}
ins {
	background-color:#f3f3fb;
	color:#606060;
}
pre {
	background: url(images/paper.png);
	color:#606060;
	border:1px solid #f3f3fb;
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}
table,th,td {
	border:1px solid #C6CCD4;
}
th {
	background:#dee2e9;
}
tr {
	background:#fff;
	color:#606060;
}
a {
	 color:#407096;
}
a:visited {
	color:#5F487E;
}
a:hover {
	 color:#407096;
}
a:active,a:focus {
	background-color:#f93;
	color:#000;
}
a img {
	border:1px solid #fff;
}
a:hover img {
	border-color:#dee2e9;
}
a:active img, a:focus img {
	border-color:#f93;
}
ul li {
	list-style-image:url(images/bullet.jpg);
}
ul li ul li {
	list-style-image:url(images/bullet2.jpg);
}
ul li ul li ul li {
	list-style-image:none;
}

/* gallery & captions */
.wp-caption img,
.gallery img {
	border:10px solid #f3f3fb;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.wp-caption a:hover img,
.gallery a:hover img {
	border-color:#dee2e9;
}
.wp-caption a:active img,
.wp-caption a:focus img,
.gallery a:active img,
.gallery a:focus img {
	border-color:#f93;
}

