/*ZenLite 
Author: Mel P.
http://quirm.net/
*/

/* set up some basic styling first */
body {
	margin:0;
	padding:0;
	font-family:Tahoma, Verdana,Arial, Helvetica, sans-serif;
	font-size:100%;
	direction:ltr;
}
h1 {
	font-size:2.5em;
	letter-spacing:0.2em;
}
h2 {
	font-size:1.6em;
}
h3 {
	font-size:1.4em;
} 
h4 {
	font-size:1.2em;
}
h5,h6 {
	font-size:1em;
}
h2,h3,h4,h5,h6 {
	letter-spacing:.01em;
}
h1,h2,h3,h4 {
	font-weight:normal;
}
a {
	text-decoration:underline;
}
a:hover,a:active,a:focus {
	text-decoration:none;
}
img {
	border:none;
}
dt {
	font-weight:bold;
	margin-top:10px;
}
li {
	margin-bottom:5px;
}
ol li {
	list-style-type:decimal;
}
ol li ol li {
	list-style-type: lower-alpha;
}
ol li ol li ol li {
	list-style-type:lower-roman;
}
ul li {
	list-style-type:disc;
}
ul li ul li {
	list-style-type:circle;
}
ul li ul li ul li {
	list-style-type: square;
}
small {
	font-size:.8em;
}
acronym, abbr {
	cursor:help;
	letter-spacing:.01em;
	text-decoration:none;
}
a acronym,a abbr {
	text-decoration:none;
	border-bottom:none;
}
blockquote {
	min-height:60px;
	margin:0;
	padding:5px 0 0 63px;
}
blockquote cite {
	display:block;
	padding-bottom:15px;
	font-size:.86em;
	font-style:normal;
}
q {
    font-style:italic;
}
q:before, q:after {
    content:"";
}
ins {
	padding:0 2px;
	text-decoration:none;
}
pre,
code,
tt,
kbd,
var {
	font-family:'courier new',courier, monospace;
	font-size:1.05em;
}
pre {
	overflow:auto;
	white-space:pre;
	padding:3px 5px 12px;
	line-height:20px;
}
address {
	font-style:normal;
}
form {
	margin:20px 0;
	padding:0;
}
fieldset {
	margin:5px;
	padding:10px;
	border:none;
}
fieldset fieldset { 
	margin-top:15px;
}
legend {
	margin:0 0 0 -10px;
	padding:2px 5px;
}
input,textarea,select {
	padding:1px 2px;
	font-size:1em;
}
textarea {
	width:98%;
}
table {
	border-collapse:collapse;
}
th,td {
	padding:3px;
}

/* hides skip links until activated for keyboard navigators */
ul.jumplinks,.jumplinks {
	position:absolute;
	top:-9000px;
	left:-9000px;
	z-index:99;
}
.jumplinks a:active,.jumplinks a:focus {
	position:absolute;
	top:9020px;
	left:9010px;
	width:15em;
	margin:0;
	padding:3px;
	text-align:center;
	font-weight:bold;
}

/* Onto the actual layout */
#wrapper {
	width:90%;
	max-width:1000px;
	margin:0 auto;
	padding:0;
}

/* HEADER */
#header {
	padding:0;
	margin:0;
}
#header h1 {
	margin:0;
	padding:0 15px;
	font-size:2.3em;
	letter-spacing:.02em;
	line-height:1.2em;
	text-align:center
}
#header h1 small {
	display:block;
	margin:0;
	padding:0;
	font-size:.65em;
	font-weight:normal;
	font-style:normal;
}
#header h1 a {
	text-decoration:none;
}
#header h1 a:hover {
	text-decoration:underline;
}
#header-image {
	height:150px;
}

/* MENU */
.navbar {
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:.9em;
	font-variant:small-caps;
	line-height:1em;
}
.navbar:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.navbar ul {
	margin:0;
	padding:0;
	display:inline;
}
.navbar li {
	margin:0;
	padding:0;
	float:left;
	list-style-type:none;
	position:relative;
}
.navbar ul ul {
	display:none;
	float:left;
	position:absolute;
	left:0;
	z-index:90;
	top:30px;
	width:150px;
}
.navbar li:hover > ul {
	display:block;
}
.navbar ul ul li {
	min-width:150px;
}
.navbar ul ul ul {
	top:0;
	left:100%;
}
.navbar .recentcomments {
	margin-right:10px;
}
.navbar #searchform {
	margin:5px 0;
}
.navbar a {
	display:block;
	line-height:20px;
	padding:5px;
	margin:0;
	text-decoration:none;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
	text-decoration:underline;
}

/* CONTENT */
#content {
	min-height:400px;
	line-height:1.5em;
	margin:20px 0 0;
	padding:0 10px;
	font-size:.9em;
}
/* clear all floats */
#content:after,
#content .hentry:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#content .hentry {
    padding-bottom:20px;
}
.post-title,
.posts-by {
	margin:20px 0 0;
	padding:0;
	font-size:1.6em;
	letter-spacing: .01em;
}
.post-title a {
	text-decoration:none;
}
.post-title a:hover,
.post-title a:active,
.post-title a:focus {
	text-decoration:underline;
}
.sticky .post-title a {
	padding-right:30px;
}
.meta {
	margin:3px 0 0;
	padding:0;
	font-size:.9em;
	line-height:1.3em;
}
.meta ul,
.meta li {
	margin:0;
	padding:0;
}
.meta ul {
	display:inline;
}
.meta li li {
	display:inline;
	padding-right:.1em;
}
.postcontent {
	min-height:20px;
}
.postcontent p+ ul {
	margin-top:-.7em;
}
.postfoot {
	clear:both;
	margin-right:5px;
}
.more-link {
	clear:both;
	float:right;
}
.more-link:after {
	content:"\00A0\00BB";
}
div.more-link {
	font-size:.9em;
}
.post-edit-link {
	clear:both;
	display:block;
}

/* Post formats */
.format-aside .post-title,
.format-status .post-title {
	position:absolute;
	top:-9999px;
	left:-9999px;
}
.format-audio .more-link img,
.format-gallery .more-link img,
.format-image .more-link img {
	display:block;
	margin:0 0 3px auto;
}
.format-audio .postcontent {
	min-height:50px;
	margin-right:110px;
}
.format-gallery .postfoot,
.format-image .postfoot {
	clear:none;
	float:left;
}
.format-chat .postcontent {
	margin:20px 0;
	padding:2px 5px 3px;
	line-height:20px;
}
.format-chat .postcontent p {
	margin:0;
}
.format-image .postcontent {
	text-align:center;
	margin:20px auto;
	padding:0;
}
.format-link .post-title a {
	display:inline-block;
	min-height:32px;
	padding-right:40px;
}
.format-link .postcontent a {
	font-size:1.2em;
}
.format-quote .postcontent {
	min-height: 60px;
	margin:20px 0;
	padding: 0 0 0 70px;
}
.format-quote .postcontent .inner {
	min-height: 60px;
	margin:0;
	padding:0 70px 0 0;
}
.format-quote .postcontent blockquote {
	min-height:0;
	padding:0;
}
.format-quote .postcontent blockquote cite {
    display:block;
    font-size: 0.86em;
    font-style: normal;
    padding-bottom: 15px;
}
.format-video .more-link a {
	padding-top:100px;
	display:inline-block;
}
.single .format-video embed {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

/* page tree */
.pagetree {
	float:right;
	width:15em;
	margin:0 0 20px 20px;
	padding:3px 5px 0;
}
.pagetree h3 {
	font-size:1.1em;
	margin:5px 0;
	padding:0;
}
.pagetree ul {
	margin:0;
	padding:0 .3em;
}
.pagetree li ul {
	margin-left:1em;
}
.pagetree li:before {
	content: " \BB\ ";
}
.pagetree li.current_page_item {
	font-weight:bold;
}
.pagetree li.current_page_item li {
	font-weight:normal;
}
.pagetree li.current_page_item a {
	text-decoration:none;
}
.pagetree li.current_page_item a:hover {
	text-decoration:underline;
}

/* pagination */
.prevnext {
	clear:both;
	margin:20px 3px 20px 0;
	padding:0;
	text-align:center;
	font-size:.9em;
}
.prevnext:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.prevnext li {
	margin:0;
	padding:0;
}
.prevnext a {
	text-decoration:none;
}
.prevnext a:hover {
	text-decoration:underline;
}
.prevnext .next a {
	float:left;
	padding:0 10px 0 20px;
}
.prevnext .prev a {
	float:right;
	padding:0 20px 0 10px;
}
.image-nav li {
	display:inline;
}
.pagelist {
	clear:both;
	margin:0 0 10px;
	padding:0;
}
.pagelist ul,.pagelist li {
	margin:0;
	padding:0;
	display:inline;
}
.pagelist a {
	padding:0 2px;
}
.page-numbers {
	width:80%;
	margin:20px auto;
	padding:0;
	text-align:center;
}
.page-numbers li {
	display:inline;
}
.page-numbers a {
	padding:0 5px;
}
.page-numbers a, 
.pagelist a {
	text-decoration:none;
	margin: 0 2px;
	padding:0 3px 2px;
}
.page-numbers a:hover,
.page-numbers a:active,
.page-numbers a:focus,
.pagelist a:hover,
.pagelist a:active,
.pagelist a:focus{
	text-decoration:underline;
}

/* gallery */
.gallery {
	margin:20px auto;
	padding:0;
}
.gallery .gallery-icon {
	font-weight:normal;
	margin:0;
	padding:0;
}
.gallery .gallery-item {
	float:left;
	margin:0 0 20px;
	padding:0;
	text-align:center;
	width:33%;
}
#content .gallery .gallery img {
	float:none;
	margin:0;
	padding:0;
}
.gallery .gallery-caption {
	margin:0;
	padding:0;
	text-align:center;
	font-size:.9em;
	line-height:1.2em;
}

/* images */
.alignleft,
.wp-post-image {
	float:left;
}
.alignright {
	float:right;
}
.aligncenter {
	float:none;
	display:block;
}
.alignnone {
	float:none;
}
.alignleft,
img.alignleft,
.wp-post-image {
	margin:0 20px 20px 0;
}
.alignright,
img.alignright {
	margin:0 0 20px 20px;
}
.aligncenter,
img.aligncenter {
	margin:10px auto;
}
.main-img {
	text-align:center;
	margin:20px auto 0;
	padding:0;
}
.img-attachment .postcontent {
	text-align:center;
	margin-bottom:20px;
}
.img-attachment h3.more-images {
	font-size:.8em;
	text-align:center;
	margin:40px 0 5px;
	padding:0;
}
.img-attachment img.attachment-thumbnail {
	display:inline;
}
.attachment .attachment-caption,
.attachment .attachment-content {
	clear:both;
}
.attachment .posted-under {
	clear:both;
	text-align:center;
	font-size:.8em;
}

/* captions */
.wp-caption img {
	margin:0 auto;
	padding:0;
}
.wp-caption-text {
	margin:0;
	padding:0;
	text-align:center;
	font-size:.8em;
}

/* comments */
#comments {
	margin:0;
	padding:20px 0 0;
	font-size:1em;
	font-weight:bold;
}
#commentlist .commentdata,
#commentlist,#commentlist ul {
	margin:0;
	padding:0;
}
#commentlist li {
	margin:0 0 10px;
	padding:0 0 5px;
	list-style:none;
}
#commentlist .children li {
	margin:10px 20px;
}
#commentlist .comment-author {
	float:left;
}
#commentlist img {
	float:left;
	margin:1px 0 5px 1px;
	padding:0;
}
#commentlist .commentmetadata {
	min-height:32px;
	margin:0 5px 0 0;
	text-align:right;
	font-size:.9em;
}
#commentlist .comment-author cite {
	display:inline;
	margin:0 0 0 4px;
	padding:0 0 0 5px;
	text-align:left;
	font-style:normal;
}
#commentlist .bypostauthor > .comment-body cite {
	padding-left:20px;
}
#commentlist .comment-author + em {
	clear:left;
	display:block;
}
#commentlist .comment-edit-link {
	font-size:x-small;
}
#commentlist .comment_text {
	clear:left;
	margin:0;
	padding:0 10px;
}
#commentlist .comment p,
#commentlist .trackback p,
#commentlist .pingback p {
	clear:both;
	padding:0 10px;
}
#commentlist blockquote,
#commentlist blockquote cite {
	font-style:italic;
}
#commentlist blockquote {
	margin:0 0 0 20px;
	padding:0;
	min-height:0;
}
#commentlist blockquote cite {
	padding-bottom:0;
}
#commentlist .reply {
	text-align:right;
	margin-right:5px;
	font-size:.9em;
}
#commentlist #respond {
	width:96%;
	margin:0 auto;
}
.comment-links {
	margin:0 0 20px;
	padding:0;
}
.comment-links li {
	margin:0;
	padding:0;
}
#commentform {
	width:95%;
}
#commentform label.text {
	display:inline-block;
	width:3.7em;
}
#commentform .comment-form-comment {
	margin:0;
}
#commentform .form-allowed-tags {
	margin:0;
	line-height:1.2em;
	font-size:.8em;
}
#commentform .form-submit {
	text-align:right;
	width:99%;
}
#commentform .form-allowed-tags code {
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:1em;
}

/* search results */
.result-list {
	margin:30px 0;
	padding:0;
}
.result-list .post-title {
	margin:0;
	font-size:1.4em;
}
.result-list li {
	margin-top:20px;
}
.result-list li li {
	margin-top:0;
}
.result-list .postcontent p {
	margin:0;
	padding:0;
}
.result-list .format-aside .postcontent p {
	margin:0;
	padding:0;
}

/* widget areas */
.error404 #content .widget-area {
	margin:20px 0;
}
#footer .widget-area {
	margin-bottom:30px;
	font-size:.9em;
}
/* clear all floats */
.widget-area:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.widget-area .widget {
	float:left;
	width:22%;
	margin-top:20px;
	margin-right:3%;
}
.widgettitle {
	margin:0;
	font-size:1.2em;
}
.widget-area ul {
	margin:5px 0 0;
	padding:0;
}
.widget-area li {
	list-style-position:inside;
}

/* tag cloud */
.navbar .widget_tag_cloud a {
	display:inline;
	padding:0 3px;
	white-space:nowrap;
}
.wp-tag-cloud {
	padding:10px;
}
.wp-tag-cloud li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
.wp-tag-cloud li a {
	letter-spacing:.01em;
	text-decoration:none;
	white-space:nowrap;
}
.wp-tag-cloud li a:hover {
	text-decoration:underline;
}

/* calendar  */
.navbar #wp-calendar {
	display:none;
}
#wp-calendar caption {
	margin:0 0 3px;
	padding:0;
	font-size:.8em;
}
#wp-calendar th {
	font-size:.9em;
	text-transform:capitalize;
}
#wp-calendar th,
#wp-calendar td {
	margin:0;
	padding:2px;
}
#wp-calendar #next a {
	text-align:right;
}
#wp-calendar #prev a {
	text-align:left;
}
#wp-calendar a {
	display:block;
	text-decoration:none;
}
#wp-calendar tbody,
#wp-calendar tfoot {
	font-size:.8em;
}
#wp-calendar #today a {
	font-weight:bold;
}
#wp-calendar a {
	text-decoration:underline;
}
#wp-calendar a:hover,
#wp-calendar a:active,
#wp-calendar a:focus {
	text-decoration:none;
}

/* password form */
.password-form br {
	display:none;
}

/* FOOTER */
#footer {
	clear:both;
	padding-bottom:5px;
}
#footer .site-links {
	clear:both;
	margin:0;
	padding:0;
	font-size:.8em;
	text-align:center;
}
#footer .site-links li {
	display:inline;
	margin:0;
	padding:0 5px;
}
#footer site-links .rss {
	position:relative;
	top:3px;
}
#footer .credits {
	font-size:.8em;
	text-align:center;
}

/* Offsets */
.navbar h2, 
.offset {
	position:absolute;
	left:-9999px;
	top:-9999px;
}

/* useful stuff to have available */
.clear-left {
	clear:left;
}
.clear-right {
	clear:right;
}
.clear {
	clear:both;
}
span.clear {
	display:block;
}
.center {
	text-align:center;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
