/*  
Theme Name:ZenLite
Version: 4.3
Theme URI: http://quirm.net/zenlite/
Description: A minimalistic single column design with a widget-ready horizontal navigation menu for listing Pages, Categories or a custom menu. Includes additional templates for archives, categories, author lists, pages without comments, images, attachments and search results. Thickbox enabled image template. Customisable header and background images. Post format support. Additional theme options. Translation-ready and child-theme friendly. Suitable for WordPress 3.1 and above. Support available at http://forum.quirm.net/
Author: Mel Pedley
Author URI: http://blackwidows.co.uk
Tags: one-column, custom-header, custom-background, custom-menu, light, white, flexible-width, theme-options, translation-ready, threaded-comments, editor-style

License: GNU General Public License v2
License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/

/*  Copyright 2009-2011  Mel P.  (email : esmi@quirm.net)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License version 2,
as published by the Free Software Foundation.

You may NOT assume that you can use any other version of the GPL.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301
USA

The license for this software can also likely be found here:
http://www.gnu.org/licenses/gpl-2.0.html
*/

@import url(layout.css);
@import url(color.css);

/* ignore these classes - they're just here to satisfy the wordpress.org upload
They are appropriately specified in layout.css - but the wordpress.org uploader doesn't appear to be able to deal with imported css sheets.
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.wp-caption-text {
	margin-top:0;
	padding-top:0;
}
*/

