/* Thickbox */
#TB_window {
	background:#111 !important;
	border-color:#000 !important;
	color:#FFEEDB !important;
}
a#TB_closeWindowButton img {
	border:1px solid #000;
}
a#TB_closeWindowButton:hover img,a#TB_closeWindowButton:active img,
a#TB_closeWindowButton:hover img:focus {
	border-color:#ED7409;
}
#TB_window img#TB_Image {
	border-color:#000 #222 !important;
}
