.appearance_page_theme_options legend {
	font-weight:bold;
    color:#606060;
}
.appearance_page_theme_options fieldset {
	margin-top:20px;
}
.appearance_page_theme_options .donate {
	clear:right;
	float:right;
	width:30%;
	padding:0 10px;
	margin:0 0 20px 20px;
	background:#fff;
	color:#606060;
	border:1px solid #E3E3E3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.appearance_page_theme_options .donate h2 {
	font-weight:normal;
	font-size:1.4em;
	padding-top:5px;
}
.appearance_page_theme_options .donate p {
	margin-top:0;
}
.appearance_page_theme_options .donate .thanks {
	margin:10px 0;
	color:#999;
    font: italic 150% garamond,georgia,palatino,serif;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: lowercase;
}

.appearance_page_theme_options #contextual-help-wrap .contextual-links li {
	list-style:none;
	margin-left:0;
}

.appearance_page_theme_options .nav-tabs {
    margin:0;
    padding:0 0 0 5px;
    border-bottom:1px solid #ccc;
}
.appearance_page_theme_options .nav-tabs li {
    display:inline;
    margin:0;
    padding:0;
}
.appearance_page_theme_options .nav-tab {
    font: italic 1.4em Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    padding: 4px 20px 6px;
}

/* Documentation */
#zenlite-readme {
    color:#606060;
    max-width:800px;
    padding-bottom:40px;
}
#zenlite-readme h3 {
	padding-top:10px;
}
#zenlite-readme h4 {
	margin-bottom:0;
}
#zenlite-readme .border-top {
	padding-top:20px;
	margin-top:40px;
	border-top:1px solid #ccc;
}
#zenlite-readme p {
	font-size:inherit;
}
#zenlite-readme abbr {
	border-bottom:1px dashed #ccc;
	cursor:help;
}
#zenlite-readme code {
    font-size:1.1em;
}
#zenlite-readme .default {
    display:block;
    font-style:italic;
}



