/**
 * Theme Name: tpSunrise
 * Theme URI: http://www.tekpals.com/tpsunrise
 * Description: tpSunrise is a 3 column theme with a vertical menu on the left. The theme supports a widgetized sidebar on right and a flexible center column that automatically adjusts for the window width. The theme supports different 
 header and sidebar styles for the home page. Requires WordPress 3.0+
 * Version: 1.2.1
 * Author: <a href="http://www.tekpals.com">Ed Ehrgott</a>
 * Author URI: http://www.tekpals.com
 * Tags: brown, orange, three-columns, right-sidebar, flexible-width, custom-menu, custom-header, custom-background, translation-ready, editor-style, sticky-post, theme-options
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

/*** common styling ***/
body {
    background: #87851F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: small;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #646464;
	font-size: large;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #646464;
	font-size: medium;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #646464;
	font-size: small;
}
hr {
    color: #180509;
}
a {
   color: #000;
}
.center {
	text-align: center;
}
.text_box {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}
.indent1 {
	margin-left: 40px;
}
.indent2 {
	margin-left: 80px;
}
.indent3 {
	margin-left: 120px;
}
.caption {
    font-size: x-small;
}
/*** table styling calendar widget overrides some styling) ***/
table {
   border-width: 1px;
   border-spacing: 0;
   border-color: #180509;
   font-style: normal;
   font-weight: normal;
   font-size: small;
   width: 90%
}
table th {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
    color: #fffff4;
	background: #180509;
}
table td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #180509;
}
ins {
	background: #ffc;
	border: none;
	color: #333;
	text-decoration: none;
}
/*** page layout div styling ***/
#masthead {
    background: #fff;
    background-image: url('/wp-content/uploads/2011/12/web_cr.jpg');
    background-repeat: no-repeat;
    margin:0 auto;
    width:950px;
    height:200px;
}
#masthead h1 {
	  text-shadow: #000 3px 3px 2px;
}
#masthead a {
	color: #fffff4;
	font-size: 1.7em;
	text-decoration: none;
	position:relative;
	top: 35px;
	left: 40px;
}
#masthead h2 {
  text-shadow: #000 3px 3px 2px;
	position: relative;
	top: 35px;
	left: 40px;
	color: #fffff4;
	font-size: 1.2em;
}
/*** wrappers used to provide column effect ***/
#wrapper1 {
	position: relative;
	text-align: left;
}
#wrapper2 {
	margin: 0 auto;
width: 950px;
	position: relative;
	text-align: left;
	/*background-image: url("images/l_col_bg.gif");   */
	background-repeat: repeat-y;
	background-position: top left;
}
#container {
float: center;
    margin:0 auto;
	position: relative;
	    background: #fff;
	padding: 0 -10px auto;
min-height:505px;
}

/*** primary page/post content ***/
#page_content {
float: center;
	position: relative;
	background-color:white;
	overflow: hidden;
	top:10px;
	left:20px;
	bottom:20;
	margin: 10 -10 10 10;
	right: 10px;
	padding: 10px 15px 0px 15px;
	width: 690px;
	min-height:400px;
	line-height: 1.4em;
}
.page-link {
    clear: both;
    padding-top: 10px;
}
.edit-link {
    clear: both;    
}
#comments {
   position:relative;
   clear:both;
}
#left_col {
    position: relative;
    float: left;
	top: 10px;
	left: 10px;
	right: 10;
	margin: 0 0 -10px 0;
	z-index: 100;
	/*width: 200px;*/
}
#right_col {
	position: relative;
	top: 0px;
	right: 0px;
	margin: 0 0 -10px 0;
	width: 190px;
	float: right;
	font-size: small;
	padding: 10px;
	z-index: 99;
	line-height: 1.4em;
}
#right_col table {
    text-align: center;
}
#right_col td {
    border-style: none;
}
#right_col ul {

    font-size: 1.0em;
	margin: 0px;
	padding: 0px 0px 20px 0px;
	}
	
#right_col ul li {
	list-style: none;
	margin: 0px;
	padding: 5px 0px 0px 0px;
	}
	
#right_col ul li a {
	color: #507AA5;
	text-decoration: none;
	}

#right_col ul li a:hover {
	color: #507AA5;
	text-decoration: underline;
	}
#footer {
    clear: both;
    height: 43px;
    width: 100%;
   /* background-image: url('images/footer_bg2.gif'); */
}
#footer_txt {
	 /* background-image: url('images/footer_bg1.gif'); */
	height: 18px;
	color: #180509;
	font-size: x-small;
	text-align: center;
	line-height: 18px;
}
/*** navigation section ***/
.pagenav {
   text-align: center;
}
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style:	none;
}
.sf-menu {
	line-height: 1.0;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility:	inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0;
	top: 2.5em; /* match top ul list item height */
	z-index: 99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left:	10em; /* match ul width */
	top: 0;
}
/*** MENU SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
}
.sf-menu a {
	border-left: 1px solid #fff;
	border-top: 1px solid #CFDEFF;
	padding: .75em 1em;
	text-decoration: none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text color*/
	color: #13a;
}
.sf-menu li {
	background: #F2BE76 url(images/gradient_31.gif);
}
.sf-menu li li {
	background: #F5DEB3;
}
.sf-menu li li li {
	background: #F5DEB3;

}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background: #F2BE76;
	outline: 0;
}
/*** superfish vertical menu ***/
.sf-vertical, .sf-vertical li {
	width: 200px;
}
.sf-vertical, .sf-vertical li li {
	width: 200px;
	position: relative;
	z-index: 999;
	overflow:visible !important;
}
/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
	left:	13em; /* match ul width */
	top: 0;
}

/*** alter arrow directions ***/
.sf-vertical .sf-sub-indicator { background-position: -10px 0; } /* IE6 gets solid image only */
.sf-vertical a > .sf-sub-indicator { background-position: 0 0; } /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers*/
.sf-vertical a:focus > .sf-sub-indicator,
.sf-vertical a:hover > .sf-sub-indicator,
.sf-vertical a:active > .sf-sub-indicator,
.sf-vertical li:hover > a > .sf-sub-indicator,
.sf-vertical li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}
/*** navigation sub menu indicators ***/
.sf-menu a.sf-with-ul {
	padding-right: 2.25em;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	top: 1.05em; /* IE6 only */
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url('images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values 
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers */
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}
.sf-shadow ul {
	background:	url('images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
/*** end navigation section ***/
/*** WordPress image styling ***/
.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
.alignleft, img.alignleft, a img.alignleft {
	display: block;
	float: left;
	padding-right: 5px;
	border: none;
}
.alignright, img.alignright, a img.alignright {
	display: block;
	float: right;
	padding-left: 5px;
	border: none;
}
.aligncenter, img.aligncenter, a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

/*** WordPress gallery styling ***/
/* The Gallery container (div) */
.gallery { }
 
/* A Gallery item container,
 for 3, 2, 4, & 6 column galleries */
.gallery .gallery-item { }
.gallery-columns-2 .gallery-item { }
.gallery-columns-4 .gallery-item { }
.gallery-columns-5 .gallery-item { }
.gallery-columns-6 .gallery-item { }

/* The actual image inside a container
for 3, 2, 4, 5 & 6 column galleries */
.gallery img { }
.gallery-columns-2 .attachment-medium { }
.gallery-columns-4 .attachment-thumbnail { }
.gallery-columns-5 .attachment-thumbnail { }
.gallery-columns-6 .attachment-thumbnail { }
 
/* A gallery image caption */
.gallery .gallery-caption { }
 
/* Definition lists elements */
.gallery dl, .gallery dt { }
 
/* Pick the second line break if two
line breaks are adjacent */
.gallery br+br { }

.gallery { margin: 0 auto 18px; }
.gallery .gallery-item {
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 33%;
}
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery-columns-5 .gallery-item { width: 20%; }
.gallery-columns-6 .gallery-item { width: 16%; }
.gallery img {
    box-shadow: 0px 0px 4px #999;
    border: 1px solid white;
    padding: 8px;
    background: #f2f2f2;
}
.gallery img:hover {
    background: white;
}
.gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
}
.gallery-columns-5 .attachment-thumbnail {
    max-width: 78%;
    height: auto;
}
.gallery-columns-6 .attachment-thumbnail {
    max-width: 72%;
    height: auto;
}
.gallery .gallery-caption {
    color: #888;
    font-size: 12px;
    margin: 0 0 12px;
}

.gallery dl, .gallery dt { margin: 0; }
.gallery br+br { display: none; }

/*** other WordPress styling ***/
blockquote{
	margin: 0px 25px 15px 25px;
	padding: 0px 25px 0px 10px;
	background: #FFF575;
	border-top: 2px solid #000000;
	border-bottom: 1px solid #000000;
}
.contentdate {    
   background: url(images/cal.png);
   float: left;
   width: 45px;
   height: 50px;
   margin: 0 10px 0 0;
   padding: 0;
}
.contentdate h3 {
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
   font-size: 10px;
   font-weight: normal;
   padding: 1px 0px 0px 4px;
   margin: 0px;
   text-transform: uppercase;
}
.contentdate h4 {
   font-family: Arial, Helvetica, sans-serif;
   color: #666666;
   font-size: 21px;
   font-weight: bold;
   padding: 5px 4px 0px 0px;
   margin: 0px;
   text-align: center;
}
.contenttitle {
   position: relative;
   margin: 0px;
   padding: 0px;
   color: #000000;
}
.postspace {
	background: url(images/spacer.png);
	width: 300px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	clear: both;
}
.sticky {
	background: #F5DEB3;
	padding: 5px 5px 5px 5px;
}
/*** comment styling ***/
.commentlist ul {
   list-style: none;    
}
.commentlist .odd {
   background-color: #F9DFA9;
   padding: 10px;
   margin-bottom: 10px;
}
.commentlist .even {
   background-color: #f1bd76;
   padding: 10px;
   margin-bottom: 10px;
}
.commentlist .bypostauthor {
   border-style: solid;
   border-width: 1px;
   padding: 4px;
}
.comment-form-comment label {
   display: block;
}
.comment-form-comment textarea {
   width: 90%;
}


